
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .backimage {  
    width: 100%;
    height: 100vh;
    background: url(hp-bg1.jpg);
    background-size: 100% 100%;
    padding: 50px;
    justify-content: center; 
  }
  
  .topnav {
    background-color: rgb(19, 12, 1);
    overflow: hidden;
    border-radius: 20px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04aa97;
    color: white;
  }
  
  .title{
    text-align: center;
  }
  
  h1{
    font-style: oblique;
    color: whitesmoke;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .item {
    flex-basis: calc(21% - 100px);
    margin: 10px;
    padding: 10px;
    border: 1px solid wheat;
    text-align: center;
    border-radius: 10px;
    background-color: #120404;
  }
  
  img {
    width: 70px;
    height: 70px;
  } 
  
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    color: #ccc;
  }
  
  p {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    color: #f1ecec;
  }
  
  button {
    margin-top: 5px;
    background-color: #2707f6;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .login-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .login-card {
    width: 500px;
    background-color: rgb(8, 7, 6);
    padding: 40px;
    border-radius: 20px;
    position: relative;
  }
  
  .login-card-inner {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-title {
    color: rgb(202, 200, 200);
    font-size: 40px;
    font-family: Arial;
    font-weight: 100;
  }
  .card title main {
    color: rgb(8, 8, 8);
    font-size: 40px;
    font-family: Arial;
    font-weight: 100;
  }
  
  .input-field {
    margin: 5px;
    width: 100%;
    padding: 20px 30px;
    border: none;
    background-color: rgb(237, 235, 235);
    color: rgb(128, 125, 125);
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 20px;
  }
  
  .input-field::placeholder {
    color: rgb(184, 183, 183);
    opacity: 1; 
  }
  
  .submit-btn {
    margin: 5px;
    padding: 20px 20px;
    border: none;
    background-color: #04aa97;
    border-radius: 30px;
    color: #fff;
    width: 100%;
    font-size: 20px;
  }
  
  .user-avatar {
    border-radius: 100px;
    position: absolute;
    top: -65px;
    left: calc(50% - 65px);
    width: 130px;
    box-shadow: 5px 10px 9px rgb(211, 209, 209);
  }
  
  .fogot-pass-link {
    margin: 20px;
    text-decoration: none;
    color: rgb(177, 195, 206);
    font-size: 20px;
    font-family: Arial;
  }
  